@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');

@-webkit-keyframes fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@-moz-keyframes    fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@-o-keyframes      fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@keyframes         fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }

/**
  AWESOME
*/

.fa-times-circle:before{
  color: #FF8400;
}
.fa-times-circle{
  display: flex;
  align-items: center;
  input{
    margin-left: 6px;
  }
  &:hover{
    cursor:pointer
  }
  &:hover:before{
    color: #1299DA;
  }
  animation: fade-in 1s linear; /* IE 10+, Fx 29+ */
}



body{
  -webkit-animation: fade-in 1s linear; /* Safari 4+ */
  -moz-animation: fade-in 1s linear; /* Fx 5+ */
  -o-animation: fade-in 1s linear; /* Opera 12+ */
  animation: fade-in 1s linear; /* IE 10+, Fx 29+ */
  margin: 0;
  padding: 40px 0 0 0;
  background: #878787;
  color: #fff;
  font-family: 'Rowdies', cursive;
  a{
    &:hover{
      filter: invert(1);
    }
    color: #1299DA;
  }
}

input[type="submit"]{
  &:hover{
    color: #56DB3A;
    border: 1px solid #56DB3A;
  }
  color: #FF8400;
  font-family: 'Rowdies', cursive;
  background: transparent;
  border: 1px solid #FF8400;
  border-radius: 0;
}

input[type="text"], input[type="password"], select, input[type="number"], textarea{
  margin: 3px 0 8px;
  padding: 5px;
  color: #FF8400;
  font-family: 'Rowdies', cursive;
  background: transparent;
  border: 1px solid #FF8400;
  border-radius: 0;
}
#delete{
  &:hover{
    color: #56DB3A;
    border: 1px solid #56DB3A;
  }
  color: #d04343;
  border: 1px solid #d04343;
}

.wrap{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;

  .both{
    display: flex;
    margin: 20px;
  }

  .left{

    padding: 20px;
    display: block;
    width: 100%;
    max-width: 300px;
    background: #222;
    box-shadow: 3px 3px 1px rgba(34, 34, 34, 0.76);
    ul{
      padding: 0;
      margin: 0;
      margin-left: 20px;
    }
  }

  .right{
    padding: 20px;
    width: 100%;
    margin-left: 30px;
    display: block;
    background: #222;
    box-shadow: 3px 3px 1px rgba(34, 34, 34, 0.76);
  }
}

.table{

    ul{
      padding: 0;
      margin: 0;
      display: grid;
      grid-template-columns: repeat(8, max-content);
      grid-auto-rows: minmax(50px, auto);
    }
    li{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      border: 1px solid #FF8400;
    }

  li:nth-child(1){
    min-width: 50px;
  }

  li:nth-child(2){
    min-width: 80px;
  }

  li:nth-child(3){
    min-width: 120px;
    max-width: 120px;
  }

  li:nth-child(4){
    min-width: 140px;
    max-width: 140px;
  }

  li:nth-child(5){
    min-width: 80px;
  }

  li:nth-child(6){
    min-width: 65px;
  }

    .flex{
      flex-shrink: 0;
      flex-grow: 1;
  }

  .elem{
    display: block;
    padding: 2px;
    border: 1px solid #1299DA;
  }
}

.links{
  border: 1px solid #1299DA;
  padding: 5px;
  margin: 2px;
}

.but{
  color: #56DB3A;
}

.content{
  padding: 20px;
  width: 100%;
  margin: 20px;
  display: block;
  background: #222;
  box-shadow: 3px 3px 1px rgba(34, 34, 34, 0.76);
}

.col{
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.edit{
  font-size: 12px;
  padding: 5px;
  color: #FF8400;
  font-family: 'Rowdies', cursive;
  background: transparent;
  border: 1px solid #FF8400;
  border-radius: 0;
  text-decoration: none;
}

.nice-select{
  margin: 3px 0 8px;
  background-color: transparent !important;
  border: 1px solid #FF8400 !important;
  border-radius: 0 !important;
}

.nice-select.open .list{
  background-color: #222 !important;
  box-shadow: 3px 3px 1px rgba(34, 34, 34, 0.76) !important;
  border: 1px solid #FF8400 !important;
  border-radius: 0 !important;
}

.nice-select .option.focus, .nice-select .option.selected.focus, .nice-select .option:hover{
  background-color: #FF8400 !important;
  color: #222 !important;
}

.folders{
  li{
    display: flex;
    justify-content: space-between;
    a{
      max-width: 65%;
      word-break: break-all;
    }
  }
}

#pagination-container{
  margin-top: 10px;
  ul{
    display: flex;
  }
  li{
    min-width: initial !important;
    display: flex;
    border: 0;
  }
}

/* AUTH
*/

.not_auth{
  color: #e66e6e;
}
.form{
  display: flex;
}
.img{
  margin-right: 10px;
  width: 50px;
  height: 50px;
  border: 1px solid whitesmoke;
}
.text{
  padding: 10px;
  line-height: 1;
  margin-bottom: 30px;
  box-shadow: 3px 6px 10px 5px #b76a6a47;
}

.slick{
  width: 500px;
  margin: 25px;
}

.error{
  margin: 10px;
  padding: 20px;
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background: #894848;
  box-shadow: 5px 5px 6px 0px #000000a6;
  border: 1px solid rosybrown;
}

._task{
  ul{
    display: flex;
    li:nth-child(2){
      min-width: 120px;
      max-width: 120px;
    }
    li:nth-child(3){
      min-width: 320px;
      max-width: 320px;
    }
    li:nth-child(5), li:nth-child(5){
      min-width: 189px;
      max-width: 189px;
    }
  }
}

.run{
  width: 30px;
  height: 30px;
  background: #000;
}

