@font-face {
  font-family: 'Rowdies';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Rowdies Light'), local('Rowdies-Light'), url(https://fonts.gstatic.com/s/rowdies/v1/ptRMTieMYPNBAK219hth5O4.ttf) format('truetype');
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fade-in {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
/**
  AWESOME
*/
.fa-times-circle:before {
  color: #FF8400;
}
.fa-times-circle {
  display: flex;
  align-items: center;
  animation: fade-in 1s linear;
  /* IE 10+, Fx 29+ */
}
.fa-times-circle input {
  margin-left: 6px;
}
.fa-times-circle:hover {
  cursor: pointer;
}
.fa-times-circle:hover:before {
  color: #1299DA;
}
body {
  -webkit-animation: fade-in 1s linear;
  /* Safari 4+ */
  -moz-animation: fade-in 1s linear;
  /* Fx 5+ */
  -o-animation: fade-in 1s linear;
  /* Opera 12+ */
  animation: fade-in 1s linear;
  /* IE 10+, Fx 29+ */
  margin: 0;
  padding: 40px 0 0 0;
  background: #878787;
  color: #fff;
  font-family: 'Rowdies', cursive;
}
body a {
  color: #1299DA;
}
body a:hover {
  filter: invert(1);
}
input[type="submit"] {
  color: #FF8400;
  font-family: 'Rowdies', cursive;
  background: transparent;
  border: 1px solid #FF8400;
  border-radius: 0;
}
input[type="submit"]:hover {
  color: #56DB3A;
  border: 1px solid #56DB3A;
}
input[type="text"],
input[type="password"],
select,
input[type="number"],
textarea {
  margin: 3px 0 8px;
  padding: 5px;
  color: #FF8400;
  font-family: 'Rowdies', cursive;
  background: transparent;
  border: 1px solid #FF8400;
  border-radius: 0;
}
#delete {
  color: #d04343;
  border: 1px solid #d04343;
}
#delete:hover {
  color: #56DB3A;
  border: 1px solid #56DB3A;
}
.wrap {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
}
.wrap .both {
  display: flex;
  margin: 20px;
}
.wrap .left {
  padding: 20px;
  display: block;
  width: 100%;
  max-width: 300px;
  background: #222;
  box-shadow: 3px 3px 1px rgba(34, 34, 34, 0.76);
}
.wrap .left ul {
  padding: 0;
  margin: 0;
  margin-left: 20px;
}
.wrap .right {
  padding: 20px;
  width: 100%;
  margin-left: 30px;
  display: block;
  background: #222;
  box-shadow: 3px 3px 1px rgba(34, 34, 34, 0.76);
}
.table ul {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(8, max-content);
  grid-auto-rows: minmax(50px, auto);
}
.table li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #FF8400;
}
.table li:nth-child(1) {
  min-width: 50px;
}
.table li:nth-child(2) {
  min-width: 80px;
}
.table li:nth-child(3) {
  min-width: 120px;
}
.table li:nth-child(4) {
  min-width: 140px;
  max-width: 140px;
}
.table li:nth-child(5) {
  min-width: 80px;
}
.table li:nth-child(6) {
  min-width: 65px;
}
.table .flex {
  flex-shrink: 0;
  flex-grow: 1;
}
.table .elem {
  display: block;
  padding: 2px;
  border: 1px solid #1299DA;
}
.links {
  border: 1px solid #1299DA;
  padding: 5px;
  margin: 2px;
}
.but {
  color: #56DB3A;
}
.content {
  padding: 20px;
  width: 100%;
  margin: 20px;
  display: block;
  background: #222;
  box-shadow: 3px 3px 1px rgba(34, 34, 34, 0.76);
}
.col {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}
.edit {
  font-size: 12px;
  padding: 5px;
  color: #FF8400;
  font-family: 'Rowdies', cursive;
  background: transparent;
  border: 1px solid #FF8400;
  border-radius: 0;
  text-decoration: none;
}
.nice-select {
  margin: 3px 0 8px;
  background-color: transparent !important;
  border: 1px solid #FF8400 !important;
  border-radius: 0 !important;
}
.nice-select.open .list {
  background-color: #222 !important;
  box-shadow: 3px 3px 1px rgba(34, 34, 34, 0.76) !important;
  border: 1px solid #FF8400 !important;
  border-radius: 0 !important;
}
.nice-select .option.focus,
.nice-select .option.selected.focus,
.nice-select .option:hover {
  background-color: #FF8400 !important;
  color: #222 !important;
}
.folders li {
  display: flex;
  justify-content: space-between;
}
#pagination-container {
  margin-top: 10px;
}
#pagination-container ul {
  display: flex;
}
#pagination-container li {
  min-width: initial !important;
  display: flex;
  border: 0;
}
/* AUTH
*/
.not_auth {
  color: #e66e6e;
}
.form {
  display: flex;
}
.img {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  border: 1px solid whitesmoke;
}
.text {
  padding: 10px;
  line-height: 1;
  margin-bottom: 30px;
  box-shadow: 3px 6px 10px 5px #b76a6a47;
}
/*# sourceMappingURL=main.css.map */